*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.background{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #d890d1, #b7aeb6);
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);

}
.player{
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}
.title{
  font-size: 32px;
  color: #333;
}
picture{
 width: 250px;
 height: auto;
 border-radius: 10px;
}
.song{
    background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
}
.song:hover{
  transition: 0.1ms;
  color: #d890d1;
  cursor: pointer;
  scale: 1.1;
}
.go-to-music{
  background: linear-gradient(135deg, #1e0308, #040435);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 15px;
}
.go-to-music:hover{
  scale: 1.1;
}
.album{
  cursor: pointer;
}

.albumtwo{
  color: white;
}
.albumtwo:hover{
  transition: 0.1ms;
  color: lightpink;
  

}